body {
  background-color: #000000;
}
.container {
  background-color: #EEEEEE;
}
* {
  box-sizing: border-box;
}
left-column p {
  margin-bottom: 0;
  margin-top: 0;
}
left-column p a {
  font-weight: bold;
  font-size: 17px;
}
.b {
  font-style: italic;
}
p {
  font-size: 15px;
}
.caption{
  font-size: 10px;
  font-color: gray;
}
