body {
  background-color: #000000;
  padding: 60px; /*1*/
}
.container {
  background-color: #EEEEEE;
  max-width: 900px;
  margin: 0 auto; /* NOTE: use this to center container*/
  padding: 30px;
  overflow: auto; /* NOTE: must do overflow to fill container*/
  border: 10px ridge #283d70 /*2*/
}
* {
  box-sizing: border-box;
}
@media(min-width: 500px) {
  .left-column {
    float: left;
    width: 25%;
    padding-right: 15px;
    border: black dotted 5px; /*10*/
  }
  .right-column {
    float: right;
    width: 75%;
    padding-left: 15px;
}
}
left-column p {
  margin-bottom: 0;
  margin-top: 0;
}
left-column p a {
  font-weight: bold;
  font-size: 17px;
}
.b {
  font-style: italic;
}
p {
  font-size: 15px;
}
.caption{
  font-size: 10px;
  font-color: gray;
  margin-top: 10px;
  border-bottom: black inset 1px; /*11*/
}
h1 {
  font-size: 35px;
}
img {
  display: block; /*3*/
  margin: 0 auto; /*4*/
  margin-top: 10px; /*5*/
  margin-bottom: 10px; /*6*/
  width: 80%; /*7*/
  border: 5px ridge #bb5050; /*8*/
  padding: 4px; /*9*/

}
