body {
  background-color: #000000;
}
.container {
  background-color: #EEEEEE;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
* {
  box-sizing: border-box;
}
@media(min-width: 500px) {
  .left-column {
    float: left;
    width: 25%;
    padding-right: 15px;
  }
  .right-column {
    float: right;
    width: 75%;
    padding-left: 15px;
  }
}
left-column p {
  margin-bottom: 0;
  margin-top: 0;
}
left-column p a {
  font-weight: bold;
  font-size: 17px;
}
.b {
  font-style: italic;
}
p {
  font-size: 15px;
}
.caption{
  font-size: 10px;
  font-color: gray;
  margin-top: 10px;
}
h1 {
  font-size: 35px;
}
